{% extends 'flatpages/default.html' %}
{% load custom_filters %}
 
{% block title %} Post {% endblock title %}
 
{% block content %}
<table border="1" cellpadding="10">
    <tr>

         <td>
             <h4>{{ post.author|title }}, {{ post.time_in|date:'d M Y' }}</h4>
        </td>
        <td>
            <h4>{{ post.title|title }}</h4>
        </td>
    </tr><tr>

         <td>
            {% for category in post.categorys.all %}
                {{ category }}
                    {% if category.category_name in subscribed %}
                    <a href="{% url 'unsubscribe' category.id %}">Отписаться</a><br/>
                    {% else %}
                    <a href="{% url 'subscribe' category.id %}">Подписаться</a><br/>
                    {% endif %}
            {% endfor %}
        </td>
        <td>
            {{ post.text }}
        </td>
    </tr>
</table>
<a href="/news/">Вернуться к общему списку</a>
{% endblock content %}


